/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Accents:
- Greys
#888
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: #2d2c4c;
  position: relative;
  background-color: #f2f2f2;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  width: 112rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 6.4rem;
}

.grid-col-4 {
  grid-column: span 4;
}

.grid-col-5 {
  grid-column: span 5;
}
.grid-col-7 {
  grid-column: span 7;
}

.section-heading {
  font-size: 7rem;
  font-weight: 400;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: -5px;
  line-height: 1.1;
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  word-spacing: 1rem;
}

.section-heading-main {
  font-weight: 500;
  font-size: 9.5rem;
  letter-spacing: 1.5px;
}
.section-label {
  display: inline-block;
  background-color: #2d2c4c;
  color: #fff;
  max-width: fit-content;
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.section-subheading {
  font-size: 2.45rem;
  line-height: 1.5;
  padding-bottom: 8rem;
}

.container--name {
  display: flex;
  gap: 6rem;
  padding: 16rem 3.2rem 12.8rem;
}

.container-competencies {
  display: flex;
  flex-wrap: wrap;
  /* gap: 3.2rem; */

  column-gap: 3.2rem;
  row-gap: 2rem;
}

.competence {
  width: 22rem;
}

.name-img {
  width: 24.5rem;
}

.name-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #20a5e6;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.name-text {
  font-size: 1.6rem;
  width: 22rem;
  line-height: 1.4;
}

/**************************/
/* HEADER */
/**************************/

.header {
  background-color: #fcd750;
  padding: 3.2rem 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 6rem;
  transition: all 0.3s;
}

.logo-small {
  height: 2.4rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  padding-top: 0.5rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  transition: all 0.3s;
  color: #20a5e6;
}
/**************************/
/* SECTION HERO */
/**************************/

.section-hero {
  background-color: #fcd750;
  padding: 19.2rem 0 12.8rem;
}

.section-hero-why {
  padding: 16rem;
}

.section-hero-img {
  width: 100%;
}

.card {
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-icon {
  height: 6rem;
  margin-bottom: 3.2rem;
}
.card-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #20a5e6;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.card-text {
  font-size: 1.6rem;
  width: 25rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1rem;
  background-color: #20a5e6;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  border-radius: 2.5px;
}
.btn-card:link,
.btn-card:visited {
  margin-top: auto;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
}
.btn-card:hover,
.btn-card:active {
  opacity: 0.82;
}

/**************************/
/* SECTION FEATURES */
/**************************/

.section-features {
  background-color: #bce3f5;
  padding: 16rem 0 12.8rem;
}

.features {
  display: flex;
  justify-content: space-around;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.feature-img {
  height: 8.5rem;
}

/**************************/
/* SECTION FEATURES */
/**************************/

.section-about-us {
  background-color: #fcd750;
  padding: 6.4rem 0;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  text-align: center;
}

.about-img {
  height: 6.6rem;
  margin-bottom: 3.2rem;
}

.about-heading {
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.about-text {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}

.btn-about:link,
.btn-about:visited {
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
  border-radius: 4px;
  letter-spacing: 2px;
  background-color: #2d2c4c;
  transition: all 0.3s;
}

.btn-about:active,
.btn-about:hover {
  opacity: 0.82;
}

/**************************/
/* SECTION FEATURES */
/**************************/

.btn-how:link,
.btn-how:visited {
  background-color: #20a5e6;
}

/**************************/
/* FOOTER FEATURES */
/**************************/

.footer {
  background-color: #2d2c4c;
  color: white;
  padding: 6.4rem 0;
}

.container-footer {
  font-size: 1.3rem;
  display: flex;
  gap: 8rem;
  align-items: flex-start;
  justify-content: space-around;
}

.footer-logo {
  width: 30px;
}

.footer-col {
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fcd750;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #20a5e6;
}

.address {
  line-height: 1.6;
  margin-top: -0.8rem;
}

.social {
  width: 31rem;
  margin-left: auto;
}

.social-heading {
  color: #20a5e6;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.social-text {
  margin-bottom: 0.8rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.social-icon {
  width: 4rem;
}

/**************************/
/*  OVERWRITEN */
/**************************/

.link-active:link,
.link-active:visited {
  border-bottom: 2px solid #2d2c4c;
  padding-bottom: 0.5rem;
}

/**************************/
/**************************/
/*  THE-WAY */
/**************************/
/**************************/

/**************************/
/*  THE-WAY -- HEADER */
/**************************/
.reason {
  margin-bottom: 3rem;
}

.reason-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #20a5e6;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.reason-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

/**************************/
/*  THE-WAY -- SECTION THE-WAY */
/**************************/

.way {
  display: flex;
  align-items: flex-start;
  padding: 16rem 3.2rem 12.8rem;
  gap: 6rem;
}

.way-icon {
  min-width: 24.5rem;
  margin-top: 1rem;
}

.way-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.way-blue {
  background-color: #bce3f5;
}

/**************************/
/*  THE-WAY -- SECTION-WORK */
/**************************/

.section-work {
  background-color: #fcd750;
}

.container-work {
  padding: 16rem 3.2rem 12.8rem;
}

.works {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}

.work {
  text-decoration: none;
  color: inherit;
}

.work-img {
  width: 21.6rem;
  height: 16rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.work-heading {
  font-size: 2.6rem;
  font-weight: 400;
  text-decoration: none;
  max-width: min-content;
}

/**************************/
/**************************/
/*  THE-WHY */
/**************************/
/**************************/

/**************************/
/*  THE-WHY -- SECTION THE-hero */
/**************************/

.hero-links {
  display: flex;
  justify-content: space-between;
}

.hero-link {
  text-decoration: none;
  color: #2d2c4c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  overflow: hidden;
  border-radius: 10px;
  height: 24rem;
  width: 49.6rem;
  margin-bottom: 3.2rem;
}

.hero-link--img {
  transform: translate(0px, -50px);
  width: 100%;
}

.hero-link-title {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 400;
  width: 43.5rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.hero-link-text {
  width: 43.5rem;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}

/**************************/
/*  THE-WHY -- SECTION BLOG-POSTS */
/**************************/

.grid-posts {
  gap: 6.4rem;
  margin-top: -8rem;
  margin-bottom: 18rem;
}

.blog-post {
  text-decoration: none;
  color: #2d2c4c;
}

.blog-post:last-child {
  grid-column: 5 / 9;
}

.blog-post--img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3.2rem;
}

.text-container {
  padding: 0 2rem;
}

.blog-post--heading {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.blog-post--text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.aim {
  padding: 16rem 3.2rem 12.8rem;
}

.aim-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aim-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 0 1.6rem;
}
.aim-img {
  width: 8rem;
  padding-bottom: 3.2rem;
}
.aim-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #20a5e6;
  font-weight: 400;
  padding-bottom: 1.6rem;
}
.aim-text {
  font-size: 1.6rem;
  padding-bottom: 3.2rem;
  line-height: 1.6;
}
